*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    min-height: 100vh;
    color: #fff;
    background-color: #212121;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-container {
    background-color: rgb(0, 132, 255);
    height: 100vh;
    width: 33.33%;
    padding-top: 20px;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #212121;
    width: 130px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.item:hover {
    background-color: #263238;
}

.simbol {
    font-size: 22px;
    font-weight: bold;
    margin-right: 6px;
}